@media only screen and (min-width: 481px) {

  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 480px) {

  .main {
    max-width: 480px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-right: 2.5rem;
  }
  header {
    justify-content: space-around;
  }
  .twoup {
    flex-direction: column;
    width: 100%;
  }
  .desktop_twoup {
    width: 100%;
    padding: 0;
  }
  .oneup .stories {
    width: auto;
    padding: 2rem 1rem; 
  }
}
