@media only screen and (min-width: 481px) {

  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 480px) and (Orientation : portrait) {

  .main {
    max-width: 480px;
  }

  .desktop {
    display: none;
  }

 .mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 0rem;
  padding-bottom: 0.75rem;
  height: 2rem;
  }
  .logo, #logo_a, #logo_b {
    display: none;
  }

  .hero {
    flex-direction: column;
    width: 100%;
  }

.image {
  width: 100%;
  padding: 0;
}

.hero .copy {
  width: auto;
  padding: 2rem 1rem;
}

.container {
  width: 100%;
}

.container h3 {
  padding: 2rem 0 1.5rem 0;
}
.twoup {
  flex-direction: column;
}
.desktop_twoup {
  width: 100%;
}

.quote_twoup {
  padding: 1rem;
}

.oneup {
  width: 100%;
}
  .LARGE {
    display: none;
  }
  .courses {
    flex-direction: column;
  }
}
