@media only screen and (min-width: 481px) {

  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 480px) and (Orientation : portrait) {

  .desktop {
    display: none;
  }

 .mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 0rem;
  padding-bottom: 0.75rem;
  height: 2rem;
  }
  .logo, #logo_a, #logo_b {
    display: none;
  }

  .hero {
    flex-direction: column;
    width: 100%;
  }

.image {
  width: 100%;
  padding: 0;
}

.hero .copy {
  width: auto;
  padding: 2rem 1rem;
}

.container {
  width: 100%;
}

.container h3 {
  padding: 2rem 0 1.5rem 0;
}
.twoup {
  flex-direction: column;
}
.desktop_twoup {
  width: 100%;
}
.desktop_twoup img {
  max-width: 95%;
}
.stories .SMALL img {
  height: auto;
  padding: 10px;
  width: 130px;
  height: 130px;
  margin-right: .5em;
  margin-bottom: .3em;
}

.quote_twoup {
  padding: 1rem;
}

.oneup {
  width: 100%;
}
  .LARGE {
    display: none;
  }


  .courses {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .schoolcollection {
    flex-direction: column;
    width: 100%;
  }
  #school {
    display: flex;
    width: 100%;
    margin: 0.5rem 0;
  }

.Thesiscontainer .thesiscontent {
  flex-direction: column;
}

.thesisvideo video {
  flex-direction: column;
  width: 100%;
  height: auto;
}
#LARGEthesis {
  width: auto;
  padding: 2rem 1rem;
align-items: center;
text-align: center;
}

.Thesiscontainer h3 {
  padding-top: 2rem;
}

.Thesiscontainer .oneup {
  flex-direction: column;
}

}
