/* Universal Styles */

html {
  font-family: 'Open Sans', sans-serif; arial;
  font-size: 16px;
}
/* Header */
 .main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

h1, h2, g3, h4, p {
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: white;
}
.logo {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-left: 24px;
  font-weight: 500;
}

#logo_a {
  color: black;
  font-size: 1rem;
}
#logo_b {
  color: grey;
  font-size: 1rem;
}
.desktop {
  display: block;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 1.5rem;
}
nav a {
  line-height: 1.2
  font-size: 0.95rem;
  padding: 1.5rem 0;
}

nav ul li {
  padding: 1.5rem 0;
  margin-left: 1rem;
}

ul a {
  text-decoration: none;
  color: grey;
  font-family: "Roboto";
}
header .mobile {
  display: none;
}

.hero {
  background-color: #DCDCDC;
  display: flex;
  justify-content: flex-start;
}
.image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  padding: 2rem 1.5rem;
}

.image img {
  width: 100%;
  height: auto;
}
.copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding-left: 24px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 71%;
}

h1 {
  font-size: 2rem;
  color: hsl(0, 0%, 30%);
  font-weight: bold;
  line-height: 1.5;
}
h3 {
  color: hsl(0, 0%, 30%);
  font-weight: bolder;
  padding-bottom: 0.5rem;
  line-height: 1.5;

}

.container p {
  background-color: hsl(0, 0%, 30%);
  color: white;
  padding: 8px 8px;
  width: 100%;
  text-align: center;
}

.twoup {
  display: flex;
  justify-content: flex-start;
}
.desktop_twoup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 1.5rem;
  width: 60%;
}

.desktop_twoup img {
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 481px) {
  .SMALL {
    display: none;
  }
}
.twoup h2 {
  padding-bottom: 1rem;
}
.twoup .oneup {
  border-left: 1px solid #DCDCDC;
}

.oneup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.stories {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
}

.stories:hover {
  background-color: grey;
}
.text H3:hover {
  color: lightskyblue;
}

.stories img {
  width: 35%;
  height: auto;
  padding: 1rem;
}
.stories_text {
  display: flex;
  flex-direction: column;
}

.stories_text p {
  font-size: 0.75rem;
  line-height: 1.5;
}
.stories_text a {
  color: lightskyblue;
  font-size: 0.75rem;
  padding-top: 0.5rem;
  text-decoration: none;
}

.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #DCDCDC;
  padding: 0 3.5rem;
}
h2 {
  font-size: 1.9rem;
  padding: 2rem 0 1.5rem 0;
  color: #696969;
  font-weight: bold;
}

.schoolcollection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 0.5rem;
}

.school {
  display: flex;
  flex-direction: column;
  flex-basis: 29.5%;
  height: auto;
  margin: 0 1rem 2rem 1rem;
  background-color: white;
}

a {
  text-decoration: none;
}
.school img {
  width: 100%;
  height: auto;
}
.text {
  padding: 1rem;
  color: grey;
}
p {
  font-size: 0.75rem;
  line-height: 1.5;
}
h4 {
font-size: 0.85rem;
padding-bottom: 0.5rem;
}
.Thesiscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.thesiscontent {
  display: flex;
  align-items: flex-start;
}
.thesiscontent .LARGEthesis
{
  padding-top: 0;
}
.LARGEthesis {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 1.5rem;
  width: 60%;
}

.thesiscontent video {
  max-width: 100%;
  height: auto;
}
.Thesiscontainer h3 {
  padding: 1.5rem 0 0.5rem 0;
}
footer {
  display: flex;
  height: 5rem;
  width: 95%;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 1rem 0rem 1.5rem;
  border-top: 1px solid #DCDCDC;
}
.copyright {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
footer p, footer a {
  color: #696969;
  font-size: 0.8rem;
  padding-right: 0.25rem;
}
.footernav ul {
  display: flex;
  justify-content: flex-end;
}
